/*começa zerando seu , pq por padrão ja exite uma margem um pedding definido*/
*{
    margin: 0;  /**/
    padding: 0; /**/
    box-sizing: border-box; /* colocado para manter a margen do coteiner caso presise de prenchimento*/
}

:root{
    --text-color:white;
    --bg-url:url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover:rgba(0,0,0, 0.02 );
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url:url(./assets/moon-stars.svg);
}

.light{
    --text-color:black; 
    --bg-url:url(./assets/bg-mobile-light.jpg);
    --stroke-color:rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover:rgba(0, 0, 0, 0.02);
    --highlight-color:rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
}
/**/
body{
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;}
body * {
    font-family: 'Inter', sans-serif ;/* fonte da letra*/
    color:var(--text-color)/* cor da ketra*/
}/* coteudo*/
#container {
    /* border: 1px solid rgb(251, 0, 255);  */
    /*apenas para se localizar onde esta o conteudo**/
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
   padding: 0 24px;
   
    
}/*seu avatar*/
#profile {
    text-align: center;/*centraliza coisas que são por padrão iline, como as Img, que é o caso*/
    padding: 24px ;/* prenchimeto*/
    
}
#profile img{
    width: 112px;
    /* border: 1px solid red */
}

#profile p{
    font-weight: 500; /*seria o nivel do negrito*/
    line-height: 24px;/* altura da linha*/
    margin-top:8px ;
   /* border: 1px solid rgb(17, 255, 0) */
}
#switch{
    /* border: 1px solid rgb(300, 255, 0); */
    position: relative;
    width: 64px;
    margin: 4px auto;
}


 #switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute; 
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-back 0.2s;
 }
 .light #switch button{
   animation: slide-in 0.2s forwards;
   
 } 
 #switch button:hover{
    outline: 8px solid var(--highlight-color);
 }

 #switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;

}
ul {
    list-style: none;/* tira o ponto das lista*/
    display: flex;/* separa os coteudo das linhas */
    flex-direction: column; /*colaca o coteudo em culuna e não um ao lado do outro*/
    gap: 16px; /*epaçao entre os conteudos*/  
    padding:  24px 0;   
}
ul li a{
    
    display: flex;
    align-items: center;
    justify-content:center; /* centralizar o conteudo*/
    padding: 16px 24px;/*preenchimento do conteudo,por isso não presisa de autura nem largura */
    background:var(--surface-color);/*brnco transparente 0.1*/
    border:1px solid var(--stroke-color);/*branco transparente o.5*/
    border-radius: 8px;/* aredodar */
    backdrop-filter:blur(4px);/*tranparencia*/
    -webkit-backdrop-filter:blur(4px) ;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}
ul li a:hover{
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}
#social-links{
    display: flex;/* separa os coteudo das linhas */
    justify-content:center;
    padding:  24px 0;  
    font-size: 24px;
    
    /*gap: 16px; /*epaçao entre os conteudos*/
    
   /* apena deichar uma bolinha  */

    
    }
    #social-links a{
        display:flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        transition: background 0,2s;
        border-radius: 50%;
    }
    
    #social-links a:hover{
        background: var(--highlight-color);

    }
    footer{
        padding: 24px 0;
        text-align: center;
        font-size:14px ;
    }
@media (min-width:700px){
    :root{
        --bg-url: url(./assets/bg-desktop.jpg);
    }
    .light{
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }
    
}
@keyframes slide-in{
    from{
      left: 0;
    }
    to{
      left: 50%;
    }
}
@keyframes slide-back{
    from{
      left: 50%;
    }
    to{
      left: 0;
    }
}
/*uma folha de rabisco não*/